@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #242424;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  background-color: #6030b1;
  color: white;
  border-radius: 24px;
  padding: 8px 24px;
  font-size: 20px;
  cursor: pointer;
}

.container {
  padding: 48px 0 24px 0;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.unclickable {
  cursor: not-allowed;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 10%, 70%);
  }
  100% {
    background-color: hsl(200, 10%, 95%);
  }
}

.skeleton-poster {
  width: 240px;
  height: 355px;
}

.skeleton-title {
  margin-top: 12px;
  width: 70%;
  height: 24px;
}

.skeleton-year {
  margin-top: 8px;
  width: 20%;
  height: 16px;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0;
}

.logo {
  display: flex;
  width: 50px;
}

.logo--img {
  width: 100%;
}

.nav__link {
  margin-left: 32px;
  font-size: 20px;
}

.nav__banner {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nav__banner--img {
  position: absolute;
  z-index: -10;
}

.btn--menu {
  position: absolute;
  right: 18px;
  padding: 12px 24px;
  z-index: 100;
  display: none;
}

.btn--menu--close {
  top: 4px;
  right: 6px;
  display: block !important;
}

.menu--backdrop {
  border: 2px solid #242424;
  background-color: white;
  height: 300px;
  width: 95%;
  top: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-150%);
  transition: all 300ms ease;
}

.menu--open .menu--backdrop {
  transform: translateY(0);
}

.menu--open .btn--menu {
  display: none;
}

.btn--menu--list {
  display: flex;
  flex-direction: column;
}

.btn--menu--link {
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
}

/* HEADER  */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 72px;
  padding-bottom: 32px;
  letter-spacing: 0.1rem;
}

.input--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  border: 2px solid grey;
  width: 100%;
  max-width: 550px;
  height: 48px;
  border-radius: 32px;
  overflow: hidden;
}

.input {
  border: none;
  height: 100%;
  width: 85%;
  font-size: 24px;
  padding-left: 16px;
  color: #242424;
}

.input::placeholder {
  font-size: 24px;
}

.search--btn {
  margin-right: 6px;
  padding: 6px 28px;
}

.fa-search {
  font-size: 36px;
}

/* MOVIES  */

.movies {
  display: none;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-bottom: 48px;
}

.movie__title {
  margin-bottom: 8px;
  text-align: center;
}

.movie__img--wrapper {
  display: flex;
  max-width: 240px;
  margin-bottom: 12px;
}

.movie__img {
  width: 100%;
}

.result__txt {
  padding: 20px 0 72px 0;
}

/* EMPTY STATE */

.empty__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__wrapper {
  max-width: 700px;
}

.video__img {
  width: 100%;
}

.empty__txt {
  font-size: 24px;
  padding-top: 20px;
  color: lightgray;
}

.loading__container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 60px;
  margin-bottom: 24px;
  font-size: 60px;
  color: #6030b1;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1220px) {
  nav {
    padding: 16px 12px;
  }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .movie {
    width: 50%;
  }

  .result__txt {
    margin-left: 12px;
    padding: 0 0 16px 24px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn--menu {
    display: block;
  }

  .input--wrapper {
    width: 80%;
  }

  .video__wrapper {
    display: flex;
    justify-content: center;
  }

  .video__img {
    width: 90%;
  }

  .empty__txt {
    margin: 0 16px;
    text-align: center;
  }

  .nav__link {
    display: none;
  }

  .movie__img--wrapper {
    justify-content: center;
  }

  .movie__img {
    width: 80%;
  }

  .movie__title {
    font-size: 18px;
    margin: 0 8px 8px;
  }
}

/* DISCOVER  */

.header__container {
  display: flex;
  flex-direction: column;
}

.top--heading {
  font-size: 48px;
  margin-bottom: 12px;
}

#movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.movie__rank {
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 12px 0;
}

.top--movie__img--wrapper {
  width: 70%;
}
.top--movie__img {
  width: 100%;
}

#filter {
  border: 2px solid #6030b1;
  padding: 4px 8px;
}

select {
  font-size: 24px;
  font-weight: bold;
  color: #6030b1;
}

#movies .movie {
  justify-content: start;
}
